body {
  background-color: black;
  font-family: arial;
  color: white;
}
h1 {
  color: grey;
  font-family: verdana;
}

.maindiv {
  text-align: center;
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
}

.label {
  padding: 13px;
}

.scan {
  margin-left: 10px;
}
